@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppin', sans-serif;
}


body {
  background-color: #b7adde;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}


/* Styles for small screens */
@media screen and (max-width: 600px) {
  .container {
    margin-top: auto;
    padding: 10px;
  }
}

/* Styles for medium screens */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    margin-top: auto;
    padding: 30px;
  }
}

/* Styles for large screens */
@media screen and (min-width: 901px) {
  .container {
    margin-top: auto;
    padding: 50px;
  }
}

nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 28px;
  text-decoration: none;
  font-family: cookie;
  font-weight: bold;
  color: #433e58;
  padding-left: 20px;
}

.logo img {
  max-height: 28px;
}

.container {
  margin-top: 0px;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
}

.containertxt {
  display: flex;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 150px;
  padding-top: 25px;
}



.containertxt.active .forms {
  height: 600px;
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-field input {
  width: 1100px;
  padding-left: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #b7adde;
}

.input-field i {
  order: -1;
  padding-left: 30px;
  color: #999;
  font-size: 30px;
  transition: all 0.2s ease;
}

.no-items {
  order: -1;
  margin-bottom: 15px;
  padding-left: 50px;
  color: #999;
  font-size: 15px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
  color: #4070f4;
}

.input-field i.icon {
  left: 0;
  position: top;
}

.image {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 90px;
}

.image img {
  max-width: 100%;
  margin-right: 120px;
}

.containerss {
  display: grid;
  padding-left: 40px;
  align-items: center;
  grid-template-columns: 2fr 1.5fr 1fr;
  column-gap: 20px;
}

.space {
  margin-top: 20px;
}

.space2 {
  margin-top: 60px;
}

.content h2 {
  font-size: 40px;
  max-width: 750px;
  padding-left: 150px;
  color: #433e58;

}


.buttons .btn2:hover {
  background: transparent;
  border: 1px solid #706A88;
  color: #706A88;
}

.buttons .btn2 {
  color: #ffffff;
  text-decoration: none;
  background: #433e58;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}


.checkbox-text {
  display: flex;
  align-items: center;
  margin-top: 5px;
  text-decoration: line-through;

}

input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  flex: 0 0 auto;
}

label {
  font-size: 16px;
  margin-bottom: 0;
}


.grocery-text {
  font-size: 16px;
}

.grocery-item {
  align-items: left;
  margin-bottom: 20px;
  justify-content: space-between;
}

.remove-items {
  font-family: sans-serif;
  color: rgb(139, 97, 93);
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  padding-right: 200px;
  font-size: 18px;
  background: none;
  border: none;
  right: 0;
}

.containertxt .grocery-item .bought {
  text-decoration: line-through;
  color: #888;
}