@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b7adde  ;
}

.login{
    width: 500px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 50px 45px;
    margin: 30px auto; 
    margin-top: 60px;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    size: 100px;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #a99cdf;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 30px;
    width: 150px;
}

.button input:hover{
    background-color: #b7adde;
}

.form .input-field{
    position: relative;
    height: 1px;
    width: 100%;
    margin-top: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #b7adde;
    border-radius: 25px;
}

.space {
    margin-top: 40px; 
    margin-right: 60px;
}